<div class="form-inline">
    <div class="form-group">
        <label for="search-query">Поиск по номеру телефона</label>
        <input type="tel" class="form-control" id="search-query" data-search-query required>
    </div>
</div>