<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Телефонный справочник</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
    
</head>
<body>
<div class="container">
    <header class="main-header">
        <h1>Телефонный справочник</h1>
    </header>
    
    <div data-action-form></div>
    
    <section class="tel-list" data-telehpones-table>
        <h2>Список номеров</h2>
        <header class="tel-list-header">
            Форма поиска
            <input type="button" class="btn btn-default" value="Добавить запись" data-add>
        </header>
        {% include 'telephones-list.twig' %}
    </section>
</div>
</body>
</html>